doctype html
html(lang="en")
  head
    title= package_def.name + " v" + package_def.version
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    link(href='/styles/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a(href="#").navbar-brand
            pre.ansi-logo= header
    
    div.
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    
